{
  "env": {
    "node": true,
    "jest": true,
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "eslint:recommended",
    "prettier",
    "plugin:react/recommended",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "import",
    "jest",
    "prettier",
    "react"
  ],
  "rules": {
    "no-console": "off",
    "no-restricted-syntax": [
      "warn",
      {
        "selector": "CallExpression[callee.object.name='console'][callee.property.name!=/^(error|info|trace)$/]",
        "message": "Unexpected property on console object was called"
      }
    ],
    "no-case-declarations": "off",
    "no-use-before-define": "off",
    "no-shadow": "warn",
    "no-warning-comments": "warn",
    "prefer-const": "error",
    "eol-last": "error",
    "prettier/prettier": [
      "error",
      {
        "bracketSpacing": true,
        "printWidth": 80,
        "singleQuote": true,
        "tabWidth": 2,
        "trailingComma": "all",
        "endOfLine": "auto"
      }
    ],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": [
          "Link"
        ],
        "specialLink": [
          "to"
        ]
      }
    ],
    "react/no-access-state-in-setstate": "error",
    "react/destructuring-assignment": "off",
    "react/jsx-uses-vars": "error",
    "react/require-default-props": "off",
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/default-props-match-prop-types": "off",
    "react/prefer-stateless-function": "error",
    "react/sort-comp": [
      "error",
      {
        "order": [
          "type-annotations",
          "static-methods",
          "lifecycle",
          "everything-else",
          "render"
        ]
      }
    ],
    "react/prop-types": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.test.js",
          "**/*.spec.js",
          "/config/**"
        ]
      }
    ],
    "import/order": [
      "error",
      {
        "groups": [
          [
            "builtin",
            "external"
          ],
          [
            "parent",
            "sibling"
          ],
          "index"
        ],
        "newlines-between": "always"
      }
    ]
  }
}
