body {
  background-color: #ead8ab;
  color: #131313;
  margin: 0px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  border: 1px solid black;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
