h2 {
  font-size: 25px;
}

select {
  margin-left: 20px;
}

.selector {
  margin-top: 15px;
  text-align: right;
}

h3.nicknames {
  font-size: 18px;
  margin-top: 0px;
  margin-left: 25px;
  word-spacing: 88px;
}

.selector li {
  list-style-type: none;
}

.selector li input {
  margin: 0 10px 0 10px;
}
